<p id="notice"><%= notice %></p>

<h1>Routes</h1>

<table id="normal_dt"  class="stripe" class="mytable" class="display" cellspacing="0" >
  <thead>
    <tr>
      <th>Route</th>
      <th>Truck</th>
      <th>Driver</th>
      <th>Date</th>
      <th>User</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @routes.each do |route| %>
      <tr>
        <td>&nbsp;&nbsp;<%= route.route_code %></td>
        <td>&nbsp;&nbsp;<%= route.truck %></td>
        <td>&nbsp;&nbsp;<%= route.driver %></td>
        <td>&nbsp;&nbsp;<%= display_date(route.updated_at) %></td>
        <td>&nbsp;&nbsp;<%= route.badge %></td>
        <td>&nbsp;&nbsp;<%= link_to 'Edit', edit_route_path(route), class: "btn btn-primary" %></td>
        <td>&nbsp;&nbsp;<%= link_to 'Delete', route, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Route', new_route_path, class: "btn btn-primary" %>
